# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
.cache
node_modules
yarn-error.log

# Build directory
/public
.DS_Store

# Only allow yarn.lock
package-lock.json
storybook-static

# Pulled from monorepo & frontpage
src/content/docs
site-metadata.js
